In [25]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('History.csv')

In [14]:
df.head()

,category,price,text,label,node_id,neighbour
0,World,$99.20,Description: The true story of the remarkable ...,0,0,"[798, 4566, 4947, 5138, 6190, 6723, 6724, 1527..."
1,Americas,$5.89,Description: James Raffan is one of our foremo...,1,1,[9330]
2,Americas,$22.97,Description: Charlotte Gray is one of Canada&#...,1,2,"[6452, 16568]"
3,Americas,$8.22,"Description: Conquistadors, The by Innes, Hamm...",1,3,[8200]
4,Americas,$40.91,Description: NO shipping outside of US. Perfec...,1,4,[5]

In [62]:
df.iloc[9330]

category                                              Americas
price                                                    $4.96
text         Description: Shaping the destiny of Canada, th...
label                                                        1
node_id                                                   9330
neighbour                                  [6664, 9331, 16913]
Name: 9330, dtype: object

In [65]:
df.value_counts('category')

category
Americas                                    23368
World                                        6895
Military                                     5304
Europe                                       3360
Asia                                          876
Ancient Civilizations                         747
Historical Study & Educational Resources      307
Middle East                                   280
Africa                                        250
Australia & Oceania                            96
Russia                                         64
Arctic & Antarctica                             4
Name: count, dtype: int64

In [39]:
def string_to_int_list(input_string):
    # Strip the brackets
    stripped_string = input_string.strip('[]')
    
    # Check if the stripped string is empty
    if not stripped_string:
        return []
    
    # Split the string into a list of numbers as strings
    string_numbers = stripped_string.split(',')
    
    # Convert each string number to an integer
    int_list = [int(number) for number in string_numbers]
    
    return int_list

In [45]:
from collections import defaultdict


l = []
d = defaultdict(int)
for ngh in df['neighbour']:
    ngh = string_to_int_list(ngh)
    l.append(len(ngh))
    d[len(ngh)] += 1

print(d)
# print in sorted order
for k in sorted(d.keys()):
    print(k, d[k])
print(max(l), min(l), sum(l)/len(l), len(l), np.std(l))
# plot historgram of l
# import matplotlib.pyplot as plt
# plt.hist(l, bins=100)

defaultdict(<class 'int'>, {12: 565, 1: 11285, 2: 6143, 0: 1202, 3: 3885, 8: 1113, 9: 906, 11: 720, 4: 2758, 27: 144, 7: 1310, 6: 1583, 25: 170, 5: 2060, 19: 274, 10: 784, 26: 142, 33: 79, 23: 178, 16: 354, 15: 452, 13: 483, 18: 302, 28: 133, 24: 173, 32: 89, 17: 320, 21: 205, 14: 423, 31: 90, 30: 99, 37: 72, 43: 45, 22: 194, 36: 66, 20: 254, 38: 72, 29: 130, 35: 81, 39: 74, 34: 88, 42: 50, 44: 60, 46: 54, 52: 34, 40: 63, 41: 72, 45: 54, 56: 38, 64: 32, 55: 28, 58: 39, 67: 43, 71: 48, 50: 46, 59: 24, 48: 28, 47: 35, 54: 34, 60: 32, 51: 44, 49: 51, 68: 33, 53: 38, 61: 32, 57: 33, 65: 31, 69: 33, 73: 50, 63: 26, 82: 55, 84: 39, 90: 16, 86: 29, 62: 27, 87: 20, 88: 21, 89: 12, 75: 57, 74: 45, 76: 62, 66: 35, 81: 57, 77: 61, 78: 59, 93: 3, 83: 41, 79: 51, 91: 9, 70: 35, 72: 37, 85: 36, 80: 51, 95: 1, 94: 2, 92: 4, 97: 1})
0 1202
1 11285
2 6143
3 3885
4 2758
5 2060
6 1583
7 1310
8 1113
9 906
10 784
11 720
12 565
13 483
14 423
15 452
16 354
17 320
18 302
19 274
20 254
21 205
22 194
23 178
24 173
25 170
26 142
27 144
28 133
29 130
30 99
31 90
32 89
33 79
34 88
35 81
36 66
37 72
38 72
39 74
40 63
41 72
42 50
43 45
44 60
45 54
46 54
47 35
48 28
49 51
50 46
51 44
52 34
53 38
54 34
55 28
56 38
57 33
58 39
59 24
60 32
61 32
62 27
63 26
64 32
65 31
66 35
67 43
68 33
69 33
70 35
71 48
72 37
73 50
74 45
75 57
76 62
77 61
78 59
79 51
80 51
81 57
82 55
83 41
84 39
85 36
86 29
87 20
88 21
89 12
90 16
91 9
92 4
93 3
94 2
95 1
97 1
97 0 8.629732136410675 41551 14.913835157196113

In [44]:
d[0]

1202

In [28]:
df['neighbour'].describe()

count     41551
unique    37947
top          []
freq       1202
Name: neighbour, dtype: object

In [ ]:
# Data(raw_text=[2708], y=[2708], label_names=[7], edge_index=[2, 10858], train_masks=[10], val_masks=[10], test_masks=[10], x=[2708, 384], raw_texts=[2708], category_names=[2708]) <class 'torch_geometric.data.data.Data'>

In [18]:
df.iloc[69]['text']

'Description: Shipped from UK, please allow 10 to 21 business days for arrival. Very Good, A very good, near fine copy in black cloth boards, gilt title on spine with a very good, near fine dust jacket. Mayflower: a voyage to war. xvii, 461 p. : ill., ports. ; 24 cm.. . Includes bibliographical references (p. [415]-443).. .; Title: Mayflower. A story of Community, Courage and War'

In [48]:
dic = {}
for row in df.iterrows():
    dic[(row[1]['category'], row[1]['label'])] = 1

print([k[0] for k in dic.keys()])

['World', 'Americas', 'Asia', 'Military', 'Europe', 'Russia', 'Africa', 'Ancient Civilizations', 'Middle East', 'Historical Study & Educational Resources', 'Australia & Oceania', 'Arctic & Antarctica']

In [60]:
edges = set()
for _,row in df.iterrows():
    ngh_list = string_to_int_list(row['neighbour'])
    for ngh in ngh_list:
        edges.add((row['node_id'], ngh))

In [61]:
c = 0
for e in edges:
    if (e[1], e[0]) not in edges:
        c+= 1
print(c)

144606

In [63]:
edge_index = [[],[]]
for e in edges:
    edge_index[0].append(e[0])
    edge_index[1].append(e[1])
import torch
edge_index = torch.tensor(edge_index, dtype=torch.long)

In [64]:
edge_index.shape

torch.Size([2, 358574])

In [108]:
import random
def generate_masks():
    mask = []
    for i in range(len(df)):
        mask.append(np.random.choice([0,1,2], p = [0.6, 0.2, 0.2]))
    train_mask = torch.tensor([m == 0 for m in mask], dtype=torch.bool)
    val_mask = torch.tensor([m == 1 for m in mask], dtype=torch.bool)
    test_mask = torch.tensor([m == 2 for m in mask], dtype=torch.bool)
    return train_mask, val_mask, test_mask

In [109]:
train_masks = []
val_masks = []
test_masks = []
for j in range(10):
    train_mask, val_mask, test_mask = generate_masks()
    train_masks.append(train_mask)
    val_masks.append(val_mask)
    test_masks.append(test_mask)

/tmp/ipykernel_2511561/2227789009.py:6: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  train_mask = torch.tensor([m == 0 for m in mask], dtype=torch.bool)
/tmp/ipykernel_2511561/2227789009.py:7: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  val_mask = torch.tensor([m == 1 for m in mask], dtype=torch.bool)
/tmp/ipykernel_2511561/2227789009.py:8: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  test_mask = torch.tensor([m == 2 for m in mask], dtype=torch.bool)

In [111]:
print(sum(train_masks[0])/len(train_masks[0]), sum(val_masks[0])/len(train_masks[0]), sum(test_masks[0])/len(train_masks[0]))

tensor(0.6036) tensor(0.1984) tensor(0.1979)

In [110]:
# # count diff between train_mask[0], train_mask[1]
# diff = 0
# for i in range(len(train_masks[0])):
#     if train_masks[0][i] != train_masks[1][i]:
#         diff += 1
# print(diff)

In [105]:
# train_masks = torch.tensor(train_masks, dtype=torch.bool)
# val_masks = torch.tensor(val_masks, dtype=torch.bool)
# test_masks = torch.tensor(test_masks, dtype=torch.bool)

/tmp/ipykernel_2511561/1602223278.py:1: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  train_masks = torch.tensor(train_masks, dtype=torch.bool)
/tmp/ipykernel_2511561/1602223278.py:2: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  val_masks = torch.tensor(val_masks, dtype=torch.bool)
/tmp/ipykernel_2511561/1602223278.py:3: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  test_masks = torch.tensor(test_masks, dtype=torch.bool)

In [123]:
data_obj = {}
data_obj['raw_text'] = list(df['text'])
data_obj['y'] = torch.tensor(df['label'])
data_obj['label_names'] = ['World', 'Americas', 'Asia', 'Military', 'Europe', 'Russia', 'Africa', 'Ancient Civilizations', 'Middle East', 'Historical Study & Educational Resources', 'Australia & Oceania', 'Arctic & Antarctica']
data_obj['edge_index'] = edge_index
data_obj['train_masks'] = train_masks
data_obj['val_masks'] = val_masks
data_obj['test_masks'] = test_masks
data_obj['x'] = torch.randn(len(df), 384)
data_obj['raw_texts'] = list(df['text'])
data_obj['category_names'] = list(df['category'])

# dump as a torch geometric object
import torch
from torch_geometric.data import Data
data = Data(**data_obj)
torch.save(data, 'history_books_random.pt')

In [ ]:
list(df['label'])

In [125]:
data = torch.load(f"history_books_random.pt", map_location='cpu')

In [126]:
print(data, type(data))

Data(x=[41551, 384], edge_index=[2, 358574], y=[41551], raw_text=[41551], label_names=[12], train_masks=[10], val_masks=[10], test_masks=[10], raw_texts=[41551], category_names=[41551]) <class 'torch_geometric.data.data.Data'>

In [127]:
print(type(data.x), type(data.y), type(data.edge_index), type(data.train_masks), type(data.val_masks), type(data.test_masks), type(data.raw_text), type(data.label_names), type(data.category_names))
# <class 'torch.Tensor'> <class 'torch.Tensor'> <class 'torch.Tensor'> <class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

<class 'torch.Tensor'> <class 'torch.Tensor'> <class 'torch.Tensor'> <class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>